html, body
{
	margin: 0;
}

body 
{
	overflow: hidden;
	height: inherit;
}

html 
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	height: 100%;
}

h2 
{
	font-size: 2rem;
	letter-spacing: -1px;
	position: absolute;
	margin: 0;
	top: 10px;
	right: 100px;
	color: white;
}